.members {
    padding-top: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    padding-bottom: 2vw;
}

.member {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3vw;
    background-image: url("../assets/blobBg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.img {
    width: 4vw;
}


.socials img {
    width: 1.5vw;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6vw;
    padding-top: 0.5vw;
}

.member .name {
    font-weight: 500;
    font-size: 1.5vw;
}

.member .position {
    font-weight: 500;
    font-size: 1.2vw;
}

.text {
    text-align: center;    
    font-weight: 500;
    padding: 3vw 12vw;
}

.text span a{
    color: #F5A123;
    text-decoration: none;
}


.text .subtext {
    line-height: 5vw;
}