.login {
    text-align: center;
    text-align: center;
    width: 30vw;
    margin: auto;
}


.login .input {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.login .button {
    width: 30vw;
    padding: 1vw 2vw;
    font-weight: 500;
    font-size: 1.3vw;
    background-color: #698f3f;
    outline: none;
    border: none;
    color: #FCFCFF;
    cursor: pointer;
}

.signUp .button:hover{
    background-color: #000E35;
}

.signIn-text {
    color: #000E35 ;
    font-weight: 500;
    padding: 1vw;
}

.signIn-text .text {
    color: #698f3f ;
    font-weight: 500;
    text-decoration: none;
    font-size: 1.1vw;
}

.MuiOutlinedInput-input{
    cursor: pointer;
}

.input {
    padding-top: 2vw;
    padding-bottom: 2vw;
    display: flex;
    width: 30vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.login .button {
    width: 30vw;
    padding: 1vw 2vw;
    font-weight: 600;
    letter-spacing: 0.1vw;
    font-size: 1.3vw;
    background-color: #F5A123;
    outline: none;
    border: none;
    color: #FCFCFF;
    cursor: pointer;
}

.login .button:hover{
    background-color: #000E35;
}
